/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
    margin: 0;
    background: #444;
    font-family: "Poppins";
}
li,
ul {
    list-style-type: none;
    padding: 0;
}
main {
    padding: 140px 40px 40px;
    color: #bbb;
}

/* solution styles */
.menu {
    background-color: #141414;
    height: 5rem;
    position: relative;
    display: flex;
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
/* .navbar-links ul {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}
.navbar-links ul li a {
    text-decoration: none;
    padding: 0 1rem;
} */
.hamburger-icon {
    color: #bbb;
    margin-left: 2rem;
    font-size: x-large;
}

/* SIDEBAR */
.sidebar {
    background-color: #838383;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 10rem;
}
.sidebar-links ul {
    margin: 4rem 2rem;
    display: flex;
    gap: 1rem;
}
.sidebar div ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar div ul li a {
    color: white;
}
.close-icon i {
    color: white;
    margin: 2rem;
    font-size: x-large;
}

.hide {
    display: none;
}

/* open state */

/* transitions */
