/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
    margin: 0;
    background: #444;
    font-family: "Poppins";
}
li,
ul {
    list-style-type: none;
    padding: 0;
}
main {
    padding: 140px 40px 40px;
    color: #bbb;
}

/* solution styles */
.menu {
    background-color: #141414;
    height: 5rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul {
    display: flex;
}
.links ul li a {
    text-decoration: none;
    padding: 0 1rem;
}
.hamburger-icon {
    color: #bbb;
    padding-right: 1rem;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #838383;
}
.hide {
    display: none;
}

/* open state */

/* transitions */
